/node_modules
api/node_modules/
frontend/node_modules/
api/dist/
frontend/dist/

.env
instagramApi/.env
instagramApi/session.json
**/session.json
instagramApi/venv/
instagramApi/__pycache__/
__pycache__/
*.pyc

Whatsapp-service/sessions/
database/database.sqlite
